:root {
  --color-brown: #582900;
  --color-yellow: #ffb601;
  --color-blue: #130c4d;
  --font-shoju: "Shojumaru";
  --font-special: "Special Elite";
  --font-rye: "Rye";
  --font-rubik: "Rubik Distressed";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  height: 200px;
  width: 100vw;
  background-color: var(--color-blue);
  /* background-color: var(--color-brown); */
  /* background-color: var(--color-yellow); */
  /* background-color: black; */
  border: 3px solid var(--color-yellow);
  .logo-container {
    position: absolute;
    img {
      width: 200px;
      height: 200px;
    }
  }
  nav {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      li {
        font-family: var(--font-rye);
        /* font-family: var(--font-shoju); */
        /* font-family: var(--font-special); */
        /* font-family: var(--font-rubik); */
        font-size: 32px;
        /* text-transform: uppercase; */
        a,
        a:visited {
          color: var(--color-yellow);
        }
      }
    }
  }
}

footer {
  header {
    position: relative;
    height: 200px;
    width: 100vw;
    background-color: var(--color-blue);
    /* background-color: var(--color-brown); */
    /* background-color: var(--color-yellow); */
    /* background-color: black; */
    border: 3px solid var(--color-yellow);
    .logo-container {
      position: absolute;
      img {
        width: 200px;
        height: 200px;
      }
    }
    nav {
      height: 100%;
      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        li {
          /* font-family: var(--font-shoju); */
          /* font-family: var(--font-special); */
          font-family: var(--font-rye);
          /* font-family: var(--font-rubik); */
          font-size: 32px;
          a,
          a:visited {
            color: var(--color-yellow);
          }
        }
      }
    }
  }
}
