:root {
  --color-brown: #582900;
  --color-yellow: #ffb601;
  --color-blue: #130c4d;
  --font-shoju: "Shojumaru";
  --font-special: "Special Elite";
  --font-rye: "Rye";
  --font-rubik: "Rubik Distressed";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: var(--color-blue);
  border: 3px solid var(--color-yellow);
  .logo-container {
    position: absolute;
    img {
      width: 160px;
      height: 160px;
    }
  }
  a,
  a:visited,
  a:active,
  a:focus {
    color: var(--color-yellow);
  }
  a:hover {
    color: #fffb01;
  }

  nav {
    position: relative;
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      li {
        font-family: var(--font-rye);
        font-size: 32px;
        /* text-transform: uppercase; */
      }
      .login-button a {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 16px 12px 8px 12px;
        background-color: var(--color-yellow);
        color: var(--color-blue);
        font-family: var(--font-special);
        border-radius: 3px;
        &:hover {
          color: #0e0091;
          background-color: #fffb01;
        }
      }
    }
  }
}

main {
  background-image: url("../imgs/981.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: var(--color-blue);
  border: 3px solid var(--color-yellow);
  color: var(--color-yellow);
  font-family: var(--font-shoju);
  font-size: 32px;
  text-align: center;
  align-content: center;
}
