@import url('fonts.css');
@import url('common.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Rye&family=Shojumaru&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.crew{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('../imgs/benedict-koh-benedictkoh-191409u-envis-a2.jpg') center no-repeat;
  background-size: cover;
  gap: 100px;
  order:2;
}
.background-container {
  position: relative;
  width: 20%;      /* ou la largeur que tu veux */
  margin-top: 1%;
  display: flex;
  align-self: center;

}
.background-texte{
  width:100%;
  margin-top: 1%;
  text-align: center;
}
.crew-texte{
  position: absolute;
  text-align: center;
  top: 14%;
  transform: translateX(-50%, -50%);
  font-family: 'Shojumaru', cursive;
  font-size: clamp(0.5rem, 1.3vw, 10rem);
  color: #461f02;

}
.wanted{
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.wantedJeremie{
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.poster {
  width: 370px;
  height: 550px;
  margin: auto;
  background: url('../imgs/tips-paper.png');
  background-size: cover;
  box-shadow: 15px 11px 16px rgba(0,0,0,0.2);
  text-align: center;
  color: #461f02;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
  transform: translateY(50px);

}
.poster-jeremie{
  
  width: 370px;
  height: 550px;
  margin: auto;
  background: url('../imgs/tips-paper.png');
  background-size: cover;
  box-shadow: 15px 11px 16px rgba(0,0,0,0.2);
  text-align: center;
  color: #461f02;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
}


.poster-arnaud{
  display:flex;
  flex-direction: column;
  width: 370px;
  height: 550px;
  margin: auto;
  background: url('../imgs/tips-paper.png');
  background-size: cover;
  box-shadow: 15px 11px 16px rgba(0,0,0,0.2);
  text-align: center;
  color: #461f02;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
  transform: translateY(-55px);
}
.wanted-title {
  font-family: 'Rye', cursive;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 4px;
}
.mugshot-mounir {
  width: 220px;
  height: 180px;
  margin: 25px auto 15px auto;
  border: 2px solid #5e3415;
  background: url('../imgs/mounirPirate.JPG') center;
  background-size: cover;
  background-position: center calc(50% - 20px);
}
.mugshot-jeremie{
  width: 220px;
  height: 180px;
  margin: 25px auto 15px auto;
  border: 2px solid #5e3415;
  background: url('../imgs/jeremiePirate.JPG') center;
  background-size: cover;
  background-position:  25% 75%;

}
.mugshot-arnaud{
  display: flex;
  width: 220px;
  height: 180px;
  margin: 25px auto 15px auto;
  border: 2px solid #5e3415;
  background: url('../imgs/arnaudPirate.JPG')  center;
  background-size: cover;
}
.mugshot-amine{
  width: 220px;
  height: 180px;
  margin: 25px auto 15px auto;
  border: 2px solid #5e3415;
  background: url('../imgs/aminePirate.JPG')  center;
  background-size: cover;
}
.subheading {
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  margin: 10px 0;
}
.namewanted {
  font-family: 'Shojumaru', cursive;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 15px 0 10px 0;
  letter-spacing: 2px;
}
.texteJeremie{
  font-family: 'Rye', cursive;
  font-size: 1rem;
  margin: 10px 0;
}

.bounty {
  font-size: 2.2rem;
  font-family: "Rye";
  font-weight: bold;
  margin: 0px 0 10px 0;
}

.marine {
  position: absolute;
  right: 10px;
  bottom:0px;
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.marine-arnaud{
  position: absolute;
  right: 10px;
  bottom:0px;
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.shojumaru-regular {
  font-family: "Shojumaru", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.iconeJeremie{
  display:flex;
  flex-direction: row;

}
.icone1{
  position:absolute;
  transform: scale(0.9);
}