@import url("./common.css");
@import url("./fonts.css");

html {
  scroll-behavior: smooth; /* For smooth scrolling */
}

main {
  h1 {
    font-family: "Shojumaru";
    text-align: center;
    font-size: 40px;
  }
  h2 {
    font-family: "Shojumaru";
    text-align: center;
    font-size: 30px;
  }
  p {
    font-family: "Special Elite";
  }

  .banner {
    position: relative;
    padding: 0;
    width: 100%;
    height: calc(100vh - 160px);
    background-image: url(../imgs/index/poster.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
      pointer-events: none;
    }
    h1 {
      color: var(--color-yellow);
      position: absolute;
      top: 40px;
      text-shadow: -2px -2px 0 #ffffff, /* haut-gauche */ 2px -2px 0 #ffffff,
        /* haut-droite */ -2px 2px 0 #ffffff, /* bas-gauche */ 2px 2px 0 #ffffff,
        /* bas-droite */ -2px 0 0 #ffffff, /* gauche */ 2px 0 0 #ffffff,
        /* droite */ 0 -2px 0 #ffffff, /* haut */ 0 2px 0 #ffffff; /* bas */
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner-text {
      width: 100%;
      position: absolute;
      bottom: 120px;
      left: 50%; /* Position the left edge of the button at 50% of the viewport width */
      transform: translateX(-50%);
      color: var(--color-yellow);
      text-shadow: -2px -2px 0 #ffffff, /* haut-gauche */ 2px -2px 0 #ffffff,
        /* haut-droite */ -2px 2px 0 #ffffff, /* bas-gauche */ 2px 2px 0 #ffffff,
        /* bas-droite */ -2px 0 0 #ffffff, /* gauche */ 2px 0 0 #ffffff,
        /* droite */ 0 -2px 0 #ffffff, /* haut */ 0 2px 0 #ffffff; /* bas */
      h2 {
        font-size: 40px;
        width: 100%;
      }
    }
    .scroll-down-button {
      position: absolute;
      bottom: 30px;
      left: 50%; /* Position the left edge of the button at 50% of the viewport width */
      transform: translateX(
        -50%
      ); /* Shift the button back to the left by half its own width */
      width: 50px; /* Adjust size */
      height: 50px; /* Adjust size */
      background-color: var(--color-yellow); /* Button background */
      color: var(--color-brown);
      border-radius: 50%; /* Make it a circle */
      display: flex; /* For centering the arrow */
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
      z-index: 100; /* Ensure it's on top */
      animation: float 2s ease-in-out infinite;
      a {
        svg {
          fill: var(--color-brown);
        }
      }
    }
  }

  .main-container {
    height: calc(100vh - 138px);
    padding: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    section {
      width: 48%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      p {
        text-align: center;
      }
    }
    .header {
      width: 100%;
      p {
        text-align: center;
        width: 66%;
      }
      /* p:first-of-type {
        margin-top: 12px;
      } */
    }
  }
}

/* Responsive Tablets */
@media (max-width: 768px) {
  main {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }

    .main-container {
      padding: 20px 5%;
      gap: 32px;
      section {
        width: 44%;
      }
    }
  }
}

/* Responsive Smartphones */
@media (max-width: 380px) {
  main {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
    .main-container {
      gap: 20px;
      section {
        width: 100%;
      }
    }
  }
}
