@import url("./common.css");
@import url("./fonts.css");

.test-backgroung {
  background-image: url("../imgs/981.jpg");
  background-attachment: fixed;
  h1 {
    font-family: "Shojumaru";
  }
  h2 {
    font-family: "Shojumaru";
  }
  p {
    font-family: "Special Elite";
  }
}
