@import url("./common.css");
@import url("./fonts.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


.test-backgroung {
    background-image: url("../imgs/981.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}


/******* Section 1 Baner **********/
.section1{
    width: 100%;
}
.menuBaner{
    left: 20;
}
.imgBaner{
    display: flex;
    width: 100%;
    
}
.test{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    opacity: 0.7;
    transform: translateY(-100%);


}
.section1 nav{
    width: 50%;
    padding: 1%;
}
.section1 ul {
    display: flex;
    font-size: 1.5em;
    padding: 2%;
    gap: 10%;
}



/******* Section 2 Produit **********/
.section2{
    margin: 0;
}
.blocs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3%;
    padding-top: 2%;
}
.cardShop {
    position: relative;
    max-width: 20%;
    width: 100%;
    margin-bottom: 5%;
    background: #f5e8bd;
    text-align: center;
    box-shadow: 1px -4px 20px 11px rgba(0, 0, 0,  42%);
    padding: 15px;
    border-radius: 5%;
  }
  .cardShop * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .cardShop img {
    max-width: 100%;
    height: 15em;
    vertical-align: top;
    position: relative;
    background-color:#fff;
    border-radius: 5%;
  }
  .cardShop figcaption {
    padding: 20px 15px;
  }
  .cardShop h3,
  .cardShop p {
    margin: 0;
  }
  .cardShop h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .cardShop p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .cardShop .price {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 48px;
    letter-spacing: 1px;
  }
  .cardShop .price s {
    margin-right: 5px;
    opacity: 0.5;
    font-size: 0.9em;
    color: red;
  }
  .cardShop i {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFB601;
    color: #ffffff;
    font-size: 1.6em;
    border: 4px solid #ffffff;
  }
  .cardShop a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .cardShop:hover,
  .cardShop.hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .cardShop:hover i,
  .cardShop.hover i {
    background-color: #00258C;
  }
  




/******* Section 3 Footer **********/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}

.avatar {
    display: flex;
    justify-content: center;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
   }

.avatar img {
    width: 10%;
    height: 40%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}







/* CSS */
.button-13 {
  touch-action: manipulation;
  background: none;
  position: relative;
  border-width: 4px 12px;
  border-style: solid;
  border-color: transparent;
  padding: 8px 24px;
  text-align: center;
  color: #fff;
  transition-property: transform;
  transition-duration: 0.4s;
}

.button-13:active {
  transform: scale(0.92);
}

.button-13-background {
  position: absolute;
  z-index: 2;
  inset: 0;
  clip-path: polygon(12px 0, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  background-color: saddlebrown;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), linear-gradient(to bottom, #af6a65, calc(12.5% - 1px), #cfa381, #88312b calc(12.5% + 1px) 50%, #601d2c 50% calc(87.5% - 1px), #994021, #341227 calc(87.5% + 1px));
  transition-property: filter;
  transition-duration: 0.2s;
  will-change: filter;
}

.button-13 .text {
  background: linear-gradient(180deg, #FFE5C2 1%, #CDAF87 100%), #FFFFFF;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 3;
  position: relative;
  font-size: 2em;
}

@media (hover: hover) {
  .button-13:hover .button-13-background {
    filter: brightness(0.8);
  }
}

.button-13:active .button-13-background {
  filter: brightness(0.6);
}

.button-13-border {
  position: absolute;
  z-index: 1;
  inset: -4px -12px;
}

@supports (-webkit-mask-box-image: inherit) or (mask-border: inherit) {
  .button-13-border {
    background-image: linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    -webkit-mask-box-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border.svg");
    -webkit-mask-box-image-slice: 15 23;
    -webkit-mask-box-image-width: 15px 23px;
    -webkit-mask-box-image-repeat: repeat;
  }
}

@supports not ((-webkit-mask-box-image: inherit) or (mask-border: inherit)) {
  .button-13-border {
    border-width: 15px 23px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/baldurs-gate-3-border-inverted.svg");
    border-image-slice: 15 23;
    border-image-width: 15px 23px;
    border-image-repeat: repeat;
    background-image: linear-gradient(#000, #000), linear-gradient(to bottom, #bb9d7a 50%, #806d56 50%);
    background-origin: content-box, border-box;
    background-repeat: no-repeat;
    filter: url("#remove-black-button-13");
  }
}
